* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #3f3186;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  /* background-image: url(/img/castle.jpg);
  background-size: cover; */
}

.wrapper {
  width: 60%;
  margin: 20px auto;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* <!-- **** HEADER **** -- >  */
.header {
  font-size: 1.5em;
  text-align: center;
}
/* <!-- Modal Login --> */
.login__form-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.6);
}

.login__form {
  width: 600px;
  height: 400px;
  background: #666;
}

/* <!-- ***** MAIN ***** --> */
.main {
  height: 50%;
  /* border: red 2px solid; */
  text-align: center;
  color: #fff;
  /* font-size: 3em; */
}

.numbers {
  margin: 20px;
  display: flex;
  justify-content: center;
}

/* input[type='checkbox'] {
  display: none;
} */

/* input[type='checkbox'] + label span {
  display: inline-block;
  font-size: 1em;
  color: rgb(100, 11, 100);
  width: 144px;
  height: 135px;
  margin: -1px 4px 0 0;

  background: url(../img/Blue.png) left top no-repeat;
  cursor: pointer;
  transition-duration: 300ms;
}
input[type='checkbox']:checked + label span {
  background: url(../img/red.png) -0px top no-repeat;
} */

/* Game Board */
#gameBoard {
  display: none;
  /* border: 2px solid blueviolet; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions {
  width: 60%;
  height: 200px;
  background-color: rgb(18, 114, 90);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answers {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  column-gap: 10%;
}

.ansver {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;
  /* padding: 10px; */
}

.ansver button {
  width: 100%;
  height: 100%;
  background-color: rgb(10, 52, 143);
  border-radius: 50px;
  box-shadow: #3f3186 2px 2px;
  font-size: 1.2em;
  cursor: pointer;
}

/* <!-- ***** FOOTER ***** --> */
.footer {
  position: relative;
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#cat {
  position: absolute;
  left: 500px;
  width: 374px;
  height: 250px;
}

.cat__correct {
  background-image: url('../img/cat_correct.png');
}

.cat__wrong {
  background-image: url('../img/cat_wrong.png');
}

.clock {
  display: flex;
  top: 5%;
  left: 20%;
  z-index: 9999;
  position: fixed;
  background-image: url('../img/clock.png');
  width: 144px;
  height: 202px;
}

.clock__dial {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 81px;
  left: 37px;
  z-index: 4;
  /* background: #386; */
}

.clock__dial-wrapper {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* background: #666; */
}

.clock__dial-wrapper::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  z-index: 999;
}

.hour__arrow {
  width: 60px;
  height: 60px;
  position: absolute;
}
.min__arrow {
  width: 70px;
  height: 70px;
  position: absolute;
}
.sec__arrow {
  width: 80px;
  height: 80px;
  position: absolute;
}

.hour__arrow-line,
.min__arrow-line,
.sec__arrow-line {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  border-radius: 50%;
}

.hour__arrow-line {
  width: 60px;
  height: 60px;
}
.min__arrow-line {
  width: 70px;
  height: 70px;
}
.sec__arrow-line {
  width: 80px;
  height: 80px;
}

.hour__arrow-line::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 25px;
  background-color: rgb(35, 25, 133);
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.min__arrow-line::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 40px;
  background-color: rgb(10, 87, 61);
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sec__arrow-line::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 50px;
  background-color: #666;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
